:root {
  --primary-color: blueviolet;
}

  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(115em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 6.78em;
    --top-offset: 14.89vh;
    --fall-duration: 8.045s;
    --fall-delay: 2.131s;
  }
  .star:nth-child(2) {
    --star-tail-length: 6.21em;
    --top-offset: 13.06vh;
    --fall-duration: 6.853s;
    --fall-delay: 3.075s;
  }
  .star:nth-child(3) {
    --star-tail-length: 5.33em;
    --top-offset: 43.04vh;
    --fall-duration: 10.695s;
    --fall-delay: 3.954s;
  }
  .star:nth-child(4) {
    --star-tail-length: 5.11em;
    --top-offset: 91.88vh;
    --fall-duration: 11.531s;
    --fall-delay: 2.387s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.97em;
    --top-offset: 94.32vh;
    --fall-duration: 7.492s;
    --fall-delay: 1.928s;
  }
  .star:nth-child(6) {
    --star-tail-length: 5.36em;
    --top-offset: 50.83vh;
    --fall-duration: 10.25s;
    --fall-delay: 7.061s;
  }
  .star:nth-child(7) {
    --star-tail-length: 7.18em;
    --top-offset: 62.01vh;
    --fall-duration: 7.753s;
    --fall-delay: 2.73s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.12em;
    --top-offset: 91.53vh;
    --fall-duration: 8.158s;
    --fall-delay: 2.97s;
  }
  .star:nth-child(9) {
    --star-tail-length: 5.78em;
    --top-offset: 23.16vh;
    --fall-duration: 9.309s;
    --fall-delay: 9.888s;
  }
  .star:nth-child(10) {
    --star-tail-length: 5.65em;
    --top-offset: 31.87vh;
    --fall-duration: 7.58s;
    --fall-delay: 6.34s;
  }
  .star:nth-child(11) {
    --star-tail-length: 7.05em;
    --top-offset: 14.79vh;
    --fall-duration: 9.442s;
    --fall-delay: 7.647s;
  }
  .star:nth-child(12) {
    --star-tail-length: 6.4em;
    --top-offset: 81.25vh;
    --fall-duration: 10.598s;
    --fall-delay: 1.91s;
  }
  .star:nth-child(13) {
    --star-tail-length: 7.18em;
    --top-offset: 87.71vh;
    --fall-duration: 8.924s;
    --fall-delay: 3.57s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.27em;
    --top-offset: 33.22vh;
    --fall-duration: 10.42s;
    --fall-delay: 6.844s;
  }
  .star:nth-child(15) {
    --star-tail-length: 5.27em;
    --top-offset: 37.58vh;
    --fall-duration: 11.876s;
    --fall-delay: 5.07s;
  }
  .star:nth-child(16) {
    --star-tail-length: 6.42em;
    --top-offset: 29.86vh;
    --fall-duration: 7.783s;
    --fall-delay: 8.378s;
  }
  .star:nth-child(17) {
    --star-tail-length: 6.08em;
    --top-offset: 58.72vh;
    --fall-duration: 10.818s;
    --fall-delay: 8.719s;
  }
  .star:nth-child(18) {
    --star-tail-length: 5.94em;
    --top-offset: 55.14vh;
    --fall-duration: 9.623s;
    --fall-delay: 9.439s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.81em;
    --top-offset: 61.24vh;
    --fall-duration: 10.54s;
    --fall-delay: 0.299s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.36em;
    --top-offset: 44.16vh;
    --fall-duration: 7.875s;
    --fall-delay: 3.435s;
  }
  .star:nth-child(21) {
    --star-tail-length: 7.3em;
    --top-offset: 77.35vh;
    --fall-duration: 7.727s;
    --fall-delay: 1.603s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.84em;
    --top-offset: 54.05vh;
    --fall-duration: 8.27s;
    --fall-delay: 4.232s;
  }
  .star:nth-child(23) {
    --star-tail-length: 5.51em;
    --top-offset: 60.58vh;
    --fall-duration: 7.165s;
    --fall-delay: 1.893s;
  }
  .star:nth-child(24) {
    --star-tail-length: 5.7em;
    --top-offset: 88.32vh;
    --fall-duration: 6.965s;
    --fall-delay: 1.098s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.1em;
    --top-offset: 26.48vh;
    --fall-duration: 8.869s;
    --fall-delay: 2.855s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.81em;
    --top-offset: 51.93vh;
    --fall-duration: 7.366s;
    --fall-delay: 1.82s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.81em;
    --top-offset: 53.2vh;
    --fall-duration: 11.886s;
    --fall-delay: 0.966s;
  }
  .star:nth-child(28) {
    --star-tail-length: 5.24em;
    --top-offset: 97.59vh;
    --fall-duration: 6.274s;
    --fall-delay: 1.226s;
  }
  .star:nth-child(29) {
    --star-tail-length: 5.28em;
    --top-offset: 3.25vh;
    --fall-duration: 10.71s;
    --fall-delay: 6.762s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.02em;
    --top-offset: 1.5vh;
    --fall-duration: 11.791s;
    --fall-delay: 9.56s;
  }
  .star:nth-child(31) {
    --star-tail-length: 5.27em;
    --top-offset: 61.5vh;
    --fall-duration: 9.764s;
    --fall-delay: 8.614s;
  }
  .star:nth-child(32) {
    --star-tail-length: 6.85em;
    --top-offset: 46.74vh;
    --fall-duration: 10.362s;
    --fall-delay: 8.578s;
  }
  .star:nth-child(33) {
    --star-tail-length: 6.3em;
    --top-offset: 34.42vh;
    --fall-duration: 11.399s;
    --fall-delay: 4.707s;
  }
  .star:nth-child(34) {
    --star-tail-length: 7.17em;
    --top-offset: 88.09vh;
    --fall-duration: 9.322s;
    --fall-delay: 4.18s;
  }
  .star:nth-child(35) {
    --star-tail-length: 6.99em;
    --top-offset: 2.05vh;
    --fall-duration: 6.328s;
    --fall-delay: 4.757s;
  }
  .star:nth-child(36) {
    --star-tail-length: 5.62em;
    --top-offset: 33.63vh;
    --fall-duration: 10.891s;
    --fall-delay: 5.787s;
  }
  .star:nth-child(37) {
    --star-tail-length: 6.95em;
    --top-offset: 39.17vh;
    --fall-duration: 10.71s;
    --fall-delay: 1.993s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.68em;
    --top-offset: 12.31vh;
    --fall-duration: 7.077s;
    --fall-delay: 6.151s;
  }
  .star:nth-child(39) {
    --star-tail-length: 5.62em;
    --top-offset: 97.36vh;
    --fall-duration: 6.571s;
    --fall-delay: 4.582s;
  }
  .star:nth-child(40) {
    --star-tail-length: 5.18em;
    --top-offset: 56.18vh;
    --fall-duration: 11.897s;
    --fall-delay: 6.588s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.29em;
    --top-offset: 79.97vh;
    --fall-duration: 10.894s;
    --fall-delay: 2.126s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.4em;
    --top-offset: 80.09vh;
    --fall-duration: 11.466s;
    --fall-delay: 5.225s;
  }
  .star:nth-child(43) {
    --star-tail-length: 7.03em;
    --top-offset: 16.07vh;
    --fall-duration: 7.747s;
    --fall-delay: 8.208s;
  }
  .star:nth-child(44) {
    --star-tail-length: 6.87em;
    --top-offset: 39.95vh;
    --fall-duration: 8.99s;
    --fall-delay: 0.76s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.98em;
    --top-offset: 44.82vh;
    --fall-duration: 6.172s;
    --fall-delay: 6.316s;
  }
  .star:nth-child(46) {
    --star-tail-length: 5.52em;
    --top-offset: 85.99vh;
    --fall-duration: 9.914s;
    --fall-delay: 7.541s;
  }
  .star:nth-child(47) {
    --star-tail-length: 6.14em;
    --top-offset: 81.05vh;
    --fall-duration: 8.411s;
    --fall-delay: 5.028s;
  }
  .star:nth-child(48) {
    --star-tail-length: 6.91em;
    --top-offset: 56.21vh;
    --fall-duration: 6.266s;
    --fall-delay: 7.27s;
  }
  .star:nth-child(49) {
    --star-tail-length: 5.05em;
    --top-offset: 98.75vh;
    --fall-duration: 9.622s;
    --fall-delay: 4.351s;
  }
  .star:nth-child(50) {
    --star-tail-length: 6.84em;
    --top-offset: 40.72vh;
    --fall-duration: 9.061s;
    --fall-delay: 0.142s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }